.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__arrow img {
    height: 30px;
  }

  &__arrow {
    height: 30px;
  }

  &__dot {
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}